.list {
  margin-bottom: 30px;

  &__add-button {
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 10px;
    transition: background-color 0.15s ease-in-out;

    &:hover .close-button {
      opacity: 0.2;
    }

    .close-button {
      opacity: 0;
      transition: opacity 0.15s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }

    span {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 160px;
      white-space: nowrap;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }

    &.active {
      background: #ffffff;
      
    }

    .badge {
      position: relative;
      left: 5px;
    }

    i {
      display: inline-flex;
      margin-right: 8px;
      svg {
        path {
          fill: #7c7c7c;
        }
      }
    }
  }
}
